@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Stock Market Expert is an outstanding tool for stock market data analysis. We use state of art technologies to fetch most recent stock market data for various stock symbols.
With our service you can create a personalized list of stock symbols and can check the latest stock prices for these stocks. You can now find out the latest stock price for 
all your favorite stock tickers.
<br/><br />
And the best part is, it is absolutely FREE!!!
</p>
