@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stock market expert street<br />
    Redmond, WA 99999-9999<br />
    <abbr title="Phone">P:</abbr>
    111.555.9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@stockmarketexpert.com">info@stockmarketexpert.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@stockmarketexpert.com">marketing@stockmarketexpert.com</a>
</address>