@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock Market Expert</h1>
    <p class="lead">Awesome stock exchange data analyzer for your stock business profit maximization.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Signup &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Stock Market Expert</h2>
        <p>
            According to various business journals, every year millions of poeple need to check stock market data everyday. But there is no free and easy to use
            tool that serves this purpose. So we have brought this idea into implementation and we have made the best stock market data analayzer for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make More Profit</h2>
        <p>With the help of stock market expert, now you can make more profit in your stock market business. Use our tool and check stock market prices regulary.
        Maximize your profit everyday!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Expert Analysis</h2>
        <p>Need more out of Stock Market Expert? You can take our expert advice in your stock market business. Consult our stock market professionals and 
        find out the lucrative opportunities that is out there. Don't wait - just act!</p>
    </div>
</div>